html {
    height: 100%;
    font-family: Montserrat;
}

body {
    margin: 0px;
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 100%;
}

h2 {
    margin: 0px;
    font-family: 'Roboto Slab';
    text-align: center;
}

.timeline-container {
    width: 100px;
    border-right: 1px solid #f1f1f1;
    box-sizing: border-box;
    text-align: center;
    overflow-y: auto;
    overflow-x: visible;
    position: relative;
    background: linear-gradient(90deg,
        rgba(0,0,0,0) calc(50% - 1px),
        rgba(192,192,192,1) calc(50%),
        rgba(0,0,0,0) calc(50% + 1px)
    );
}

.timeline {
    background-color: #fafafa55;
}

.timeline-dot {
    position: absolute;
    float: left;
    width: 10px;
    height: 10px;
    background-color: rgb(74, 149, 134);
    display: inline-block;
    left: 45px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: -5px;
    border: 1px solid green;
}

.timeline-dot.selected {
    width: 12px;
    height: 12px;
    border-radius: 7px;
    left: 44px;
    z-index: 10;
}

.timeline-dot.selected:before {
    width: 49px;
    content:"";
    position: absolute;
    bottom: 0;
    left: 6px;
    height: 8px;
    top: 2px;
    background-color: rgba(74, 149, 134, 0.5);
    z-index: 0;
}

.timeline-box {
    font-size: 50%;
    width: 300px;
    border: 1px solid black;
    position: fixed;
    left: 75px;
    background-color: white;
    display: none;
    z-index: 100;
    padding: 10px;
}

.year-line {
    height: 1px;
    background-color: #f5f5f5;
    width: 100px;
    box-sizing: border-box;
    position: absolute;
    text-align: left;
    font-size: 60%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding-left: 2px;
    color: #b2b2b2;
}

.year-label {
    position: absolute;
    font-size: 10px;
    padding-left: 4px;
    margin-top: -8px;
    color: #bbb;
    box-sizing: border-box;
}

.notes {
    overflow-y: auto;
}

.notes .date {
    text-align: center;
    background-color: rgba(74, 149, 134, 0.3);
    font-weight: bold;
    position: relative;
}

.date .pdf, .date .bib {
    position: absolute;
    top: 0px;
}

.date .pdf {
    right: 10px;
}

.date .bib {
    left: 10px;
}

.date .false {
    color: red;
    font-weight: bold;
}

.date .false:before {
    content: "NO "
}

.date .true {
    color: green;
}

.notes .summary {
    font-size: 110%;
    text-align: center;
}

.notes p {
    font-size: 90%;
}

.paper {
    display: none;
}

.visible {
    display: block;
}

.paper div {
    padding: 10px;
}

@media (max-width: 500px) {
    .date .pdf, .date .bib {
        font-size: 50%;
        top: 6px;
    }

    .date .bib {
        left: 5px;
        right: auto;
    }
    .date .pdf {
        right: 5px;
        left: auto;
    }
}
