{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="Paper management">
    <meta name="author" content="Sam Ireland">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Arvo|Work+Sans:300,400,200&display=swap" rel="stylesheet">
    <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css">
  </head>

  <body>

    {% include "nav.html"%}

    {% block body %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>