{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="Paper management">
    <meta name="author" content="Sam Ireland">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Papers</title>
    <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h1>Papers</h1>
    {% for paper in papers%}
    <div class="paper">
        <h2>{{ paper.title }}</h2>
        <time>{{ paper.date }}</time>
        <div class="authors">{{ paper.authors_list|join:", " }}</div>
        <div class="summary">{{ paper.summary_html|safe }}</div>
        <div class="description">{{ paper.description_html|safe }}</div>
        {% if paper.pdf %}
        <a class="pdf-link" href="{{ paper.pdf.url }}" target="_blank">PDF</a>
        {% endif %}
        <div class="tags">
            {% for tag in paper.tags.all %}
            <div class="tag">{{ tag }}</div>
            {% endfor %}
        </div>
    </div>
    
    {% endfor %}

    <script src="/static/js/main.js"></script>
  </body>
</html>