<div class="paper" id="#paper{{ paper.id }}">
    <a href="/paper/{{ paper.id }}/edit/">Edit</a>
    {% if "paper" in request.path %}
    <h1>{{ paper.title }}</h1>
    {% else %}
    <h2><a href="/paper/{{ paper.id }}/">{{ paper.title }}</a></h2>
    {% endif %}
    <time>
        {% if paper.details %}<span class="details-dot"></span>{% endif %}
        {{ paper.date }}
        {% if paper.pdf %}| <a class="pdf-link" href="{{ paper.pdf.url }}" target="_blank">PDF</a>{% endif %}
        | <span class="bibtex">BIB</span>
        
    </time>
    <div class="full-bib hidden">{{ paper.bibtex }}</div>
    <div class="authors">{{ paper.authors_list|join:", " }}</div>
    <div class="summary">{{ paper.summary_html|safe }}</div>
    <div class="description">{{ paper.description_html|safe }}</div>

    {% if "paper" in request.path or "tag" in request.path %}
    <div class="details">
    {{ paper.details_html|safe }}
    </div>
    {% endif %}
    
    
    <div class="tags">
        {% for tag in paper.tags.all %}
        <a class="tag" href="/tags/{{ tag }}/">{{ tag }}</a>
        {% endfor %}
    </div>
</div>