body {
    padding: $gap-2 $gap-3;
    font-size: $font-size-2;
}

h1, h2 {
    font-family: Arvo;
}

h1 {
    font-size: $font-size-7;
    text-align: center;
    margin-bottom: $gap-4;
}

p {
    font-weight: 300;
    margin-bottom: $gap-2;
    line-height: 1.5;
}

a {
    color: hsl(240, 81%, 63%);
}

a, input[type=submit], button {
    cursor: pointer;
}

input, textarea, button {
    display: block;
    border: 1px solid $gray-3;
    line-height: 2;
    padding: $gap-1 $gap-2;
    width: 100%;
    color: $gray-7;
    background-color: white;
    border-radius: $border-radius-1;
    margin-bottom: $gap-4;
}

textarea {
    height: 200px;
}

textarea#id_bibtex {
    line-height: 1;
    font-family: 'Courier New', Courier, monospace;
}

input[type=submit], button {
    width: fit-content;
    cursor: pointer;
}


@mixin core--400() {
    body {
        padding: $gap-3 $gap-4;
    }

    h1 {
        font-size: $font-size-8;
        margin-bottom: $gap-5;
    }

    p {
        margin-bottom: $gap-3;
        line-height: 1.6;
    }  
}

@mixin core--500() {
    body {
        padding: $gap-4 $gap-5;
    }

    h1 {
        font-size: $font-size-8;
        margin-bottom: $gap-5;
    }

    p {
        line-height: 1.7;
    }  
}

@mixin core--600() {
    body {
        padding: $gap-5 $gap-6;
        font-size: $font-size-3;
    }

    h1 {
        font-size: $font-size-9;
        margin-bottom: $gap-6;
    }

    p {
        line-height: 1.9;
    }  
}

@mixin core--800() {
    body {
        padding: $gap-6 $gap-7;
        font-size: $font-size-4;
    }

    h1 {
        font-size: $font-size-10;
        margin-bottom: $gap-7;
    }

    p {
        line-height: 2;
    }  
}