* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
    background-color: inherit;
    background-image: none;
    font-weight: normal;
    color: black;
    cursor: auto;
    list-style: inherit;
    list-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: "Work Sans", Geneva, Verdana, sans-serif;
}